<h1>Create New Program</h1>
<%= form_for @program do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </p>

 <%= f.submit "Create New Program" %>
 <% end %>